@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  @apply text-lg text-myText m-0 p-0;
}

body::-webkit-scrollbar {
  display: none;
}

.input:disabled {
  @apply border-blue-300;
}

.selectedElement span {
  @apply rounded-full border-[4px] border-yellow-300;
}
.selectedElement i {
  @apply text-sm transition-all;
}

.myIcon {
  @apply text-white text-xl transition-all;
}

.circle {
  @apply rounded-full flex w-[30px] h-[30px] z-20 opacity-90 transition-all shadow-lg items-center justify-center;
}

input,
select,
textarea {
  @apply hover:border-b-myActive font-semibold border-b-myMain border-b-2 duration-75 w-full bg-transparent p-2;
}
button {
  @apply px-4 py-2 m-2 font-semibold bg-mySecond hover:bg-myActive rounded-md shadow-sm ease-in-out duration-700;
}
