@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  @apply text-lg;
}

.input,
.button,
.combo {
  @apply hover:border-b-cyan-400 border-b-yellow-300 border-b-2 duration-75 w-full bg-transparent p-2;
}

.input:disabled {
  @apply bg-slate-400;
}

.gps_ring span {
  @apply rounded-full border-[4px] border-yellow-400;
}
.circle {
  @apply rounded-full table-cell w-[30px] h-[30px] z-20 opacity-95;
}
